<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiyue.mapper.AdminUsersMapper" >
  <resultMap id="BaseResultMap" type="com.baiyue.entity.AdminUsers" >
    <id column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="HeadImg" property="headimg" jdbcType="VARCHAR" />
    <result column="RoleId" property="roleid" jdbcType="INTEGER" />
    <result column="RealName" property="realname" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Phone, UserName, Password, HeadImg, RoleId, RealName, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from admin_users
    where Phone = #{phone,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from admin_users
    where Phone = #{phone,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baiyue.entity.AdminUsers" >
    insert into admin_users (Phone, UserName, Password, 
      HeadImg, RoleId, RealName, 
      CreateTime)
    values (#{phone,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{headimg,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.baiyue.entity.AdminUsers" >
    insert into admin_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        Phone,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="headimg != null" >
        HeadImg,
      </if>
      <if test="roleid != null" >
        RoleId,
      </if>
      <if test="realname != null" >
        RealName,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null" >
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiyue.entity.AdminUsers" >
    update admin_users
    <set >
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null" >
        HeadImg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        RoleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="realname != null" >
        RealName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Phone = #{phone,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiyue.entity.AdminUsers" >
    update admin_users
    set UserName = #{username,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      HeadImg = #{headimg,jdbcType=VARCHAR},
      RoleId = #{roleid,jdbcType=INTEGER},
      RealName = #{realname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where Phone = #{phone,jdbcType=VARCHAR}
  </update>
</mapper>